<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CamOne</key>
	<dict>
		<key>label</key>
		<string>CamOne</string>
		<key>userPINIsRequired</key>
		<false/>
		<key>properties</key>
		<array>
			<dict>
				<key>name</key>
				<string>deviceCommand</string>
				<key>operation</key>
				<string>write</string>
			</dict>
		</array>
	</dict>
	<key>CamTwo</key>
	<dict>
		<key>label</key>
		<string>CamTwo</string>
		<key>userPINIsRequired</key>
		<false/>
		<key>properties</key>
		<array>
			<dict>
				<key>name</key>
				<string>deviceCommand</string>
				<key>operation</key>
				<string>write</string>
			</dict>
		</array>
	</dict>
	<key>CamThree</key>
	<dict>
		<key>label</key>
		<string>CamThree</string>
		<key>userPINIsRequired</key>
		<false/>
		<key>properties</key>
		<array>
			<dict>
				<key>name</key>
				<string>deviceCommand</string>
				<key>operation</key>
				<string>write</string>
			</dict>
		</array>
	</dict>
	<key>CamFour</key>
	<dict>
		<key>label</key>
		<string>CamFour</string>
		<key>userPINIsRequired</key>
		<false/>
		<key>properties</key>
		<array>
			<dict>
				<key>name</key>
				<string>deviceCommand</string>
				<key>operation</key>
				<string>write</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
